.container-fluid
  %h1 Listando artigos

  -# = render "articles/shared/list", :articles => @articles
  
  
  = form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f|
    %div
      Search
      = f.text_field(                                |
          :search_query,                             |
          class: 'filterrific-periodically-observed' |
        )                                            |
      = f.submit 'Filter'
    %div
      = link_to(                 |
          'Reset filters',       |
          reset_filterrific_url, |
        )                        |    
    = render_filterrific_spinner    

  = render(                           |
      partial: 'articles/shared/list',       |
      locals: { articles: @articles } |
    )                                 |
    

  %br

  -# = link_to 'New Article', new_article_path
  = link_to fa_icon('arrow-left', text: "Voltar", style: "color:white"), '/', style: "color:white"
