.container-fluid 
  .row
    .col-lg-3
      .card
        .card-header
          = Legislation.where(id: @article.legislation_id).first.name
        .card-body    
          = @article.content.gsub(/\n/, '<br>').html_safe
        - if current_user.role == "admin"
          .card-footer
            = link_to fa_icon('pencil', text: 'Editar', color: "#000"), edit_article_path(@article), style: "color:#000"
            = link_to fa_icon('trash', text: 'Excluir', color: "#000"), @article, method: :delete, data: { confirm: 'Tem certeza?' }, style: "color:#000", class: "pull-right"

    - @article.comments.each_with_index do |c, i|
      .col-lg-3
        .card
          .card-header
            = @authors[i]
          .card-body
            = (@comments[i]).html_safe
          - if current_user.role == "admin"    
            .card-footer
              = link_to fa_icon('pencil', text: 'Editar', color: "#000"), edit_comment_path(Comment.where(:id => @comments_ids[i]).first.id), style: "color:#000"
              = link_to fa_icon('trash', text: 'Excluir', color: "#000"), comment_path(Comment.where(:id => @comments_ids[i]).first), method: :delete, data: { confirm: 'Tem certeza?' }, style: "color:#000", class: "pull-right"