%table.table-responsive.table-striped.table-hover.table
  %thead
    %tr
      %th Artigo
      %th Legislação
      %th
      %th
      %th

  %tbody
    - articles.each do |article|
      %tr
        %td= truncate(article.content, length: 50, omission: '...').html_safe
        %td= article.legislation.name
        %td= link_to fa_icon('eye', text: 'Ver', style: "color:white"), article, style: "color:white"
        %td= link_to fa_icon('pencil', text: 'Editar', style: "color:white"), edit_article_path(article), style: "color:white"
        %td= link_to fa_icon('trash', text: 'Excluir', style: "color:white"), article, method: :delete, data: { confirm: 'Are you sure?' }, style: "color:white"
